*{
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 380px 800px;
}

.loginGrid{
  padding: 80px 100px 80px 350px;
  display: grid;
  grid-template-rows: 40px 20px 40px 480px;
  margin-bottom: 5px;
}
.loginSection{
  display: grid;
  grid-template-rows: 20px 40px 20px 40px 20px 50px;
  align-items: center;
  background-color:beige;
  align-items: center;
  padding: 30px 0px 20px 60px;
  height: fit-content;
}
.loginSection input{
  height: 26px;
  border-radius: 4px;
  color: black;
}
.loginSection button{
  background-color: black;
  color: white;
  height: 26px;
  font-size: smaller;
  font-weight: 900;
  border-radius: 4px;
}
.sidebar{
  background-color: black;
  padding: 223px 125px 100px 125px;
  background-color: black;
  margin-top: 8px;
  margin-left: 31px;
  /* margin-bottom: -14px; */
  /* margin-right: 224px; */
  padding: 224px 90px 102px 107px;
  border-radius: 27px;
  height: 278px;
  width: 25px;
}
.signInLabel-1{
  font-size:xx-large;
  font-weight: 800;
}
.signInLabel-2{
  font-size:medium;
  font-weight: 400;
}
.sideBoard{
  color: antiquewhite;
  font-weight: bolder;
  font-size: xx-large;
  padding-right: 90px;
}
a{
  color: blue;
  text-decoration: none;
}
.authButtons button{
  margin-right: 20px;
}